{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joshi Collector</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="{% url 'home' %}"><img id="logo" src="{% static 'images/android-chrome-192x192.png' %}" /></a>
                <div class="right-menu" style="float:right">
                    <button class="menu-button">Menu</button>
                    <div class="dropdown-menu">
                        <a href="{% url 'about' %}">About</a>
                        <a href="{% url 'items_create' %}">Add an Item</a>
                        <a href="{% url 'items_index' %}">View All Items</a>
                        <a href="{% url 'joshis_create' %}">Add a Joshi</a>
                        <a href="{% url 'index' %}">View All My Joshis</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %} {% endblock %}
    </main>
    <footer class="page-footer">
        <div class="right grey-text text-darken-4">All Rights Reserved, &copy; 2022 Joshi Collector &nbsp;</div>
    </footer>
</body>

</html>