body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* background by SVGBackgrounds.com */
    color: #BB45BB;
    font-weight: bold;
    justify-content: center;
}

main {
    flex: 1 0 auto;
}

.col.s6 {
    background-color: white;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}

label {
    color: #BB45BB;
}

nav .nav-wrapper {
    background-color: #C6D8FF;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

#logo {
    height: 100%;
    width: 175px;
}

.menu-button {
    background-color: #BB45BB;
    color: white;
    padding: 15px;
    margin-right: 85px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid;
    width: 150px;
}

.dropdown-menu {
    display: none;
    background-color: #BB45BB;
    min-width: 149px;
    z-index: 1;
    color: #C6D8FF;
}

.dropdown-menu a {
    margin: 3px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
}

.dropdown-menu a:hover {
    background-color: #C6D8FF;
    color: #BB45BB;
    padding: 10px;
}

.right-menu:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
}

.right-menu:hover .menu-button {
    background-color: transparent
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
    background-color: #C6D8FF
}

h1 {
    background-color: white;
    padding: 10px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5%;
}

.form-icon {
    padding-top: 1%;
}

.card .card-content {
    font-size: 12px;
}

.about {
    background-color: white;
    color: #BB45BB;
    padding: 10px;
}

.home-title {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}

.delete-confirm-message {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}