{% extends 'base.html' %} {% block content %}

<h1>Joshi Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ joshi.name }}</span>
                <p>Promotion: {{ joshi.promotion }}</p>
                <p>Style: {{ joshi.style }}</p>
                <p>Nickname: {{ joshi.nickname }}</p>
                <p>Finisher: {{ joshi.finisher }}</p>
                {% if joshi.age > 29 %}
                <p>Age: Unknown</p>
                {% else %}
                <p>Age: {{ joshi.age }}</p>
                {% endif %}
                <p>It Factor: {{ joshi.itfactor }}</p>
                <p>Technique: {{ joshi.technique }}</p>
                <p>Power: {{ joshi.power }}</p>
                <p>Speed: {{ joshi.speed }}</p>
                <p>Striking: {{ joshi.striking }}</p>
                <p>Aerial: {{ joshi.aerial }}</p>
                <p>Overall: {{ joshi.overall }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'joshis_update' joshi.id %}">Edit</a>
                <a href="{% url 'joshis_delete' joshi.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <form action="{% url 'add_booking' joshi.id %}" method="post">
            {% csrf_token %} {{ booking_form.as_p }}
            <input type="submit" class="btn" value="Add Booking">
        </form>
        <br> {% if joshi.booked_for_today %}
        <div class="card-panel teal-text center-align">{{joshi.name}} has been booked solidly for today</div>
        {% else %}
        <div class="card-panel red-text center-align">{{joshi.name}} might be feeling underutilized</div>
        {% endif %}

        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Booking</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in joshi.booking_set.all %}
                <tr>
                    <td>{{booking.date}}</td>
                    <td>{{booking.get_booking_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
<hr>
<div class="row">
    <div class="col s6">
        <h3>{{ joshi.name }}'s Items</h3>
        {% if joshi.items.count %} {% for item in joshi.items.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
               <span class="teal-text">{{ item.type }}</span>: {{ item.name }}
                </span>
            </div>
            <div class="card-action">
                <form action="{% url 'unassoc_item' joshi.id item.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">Remove</button>
                </form>
            </div>
        </div>
        {% endfor %} {% else %}
        <h5>No Items :(</h5>
        {% endif %}
    </div>
    <!-- Available items will come after this line -->
    <div class="col s6">
        <h3>Available Items</h3>
        {% if items.count %} {% for item in items.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
               <span class="teal-text">{{ item.type }}</span>: {{ item.name }}
                </span>
            </div>
            <div class="card-action">
                <form action="{% url 'assoc_item' joshi.id item.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">Add</button>
                </form>
            </div>
        </div>
        {% endfor %} {% else %}
        <h5>{{joshi.name}} Already Has All Items Available</h5>
        {% endif %}
    </div>
</div>

<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    // add additional JS to initialize select below
    var selectEl = document.getElementById('id_booking');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}