{% extends 'base.html' %} {% block content %}

<h1 class="home-title">{{ joshi.name }}'s Details</h1>

<div class="row">
    <div class="col s6">
        {% for photo in joshi.photo_set.all %}
        <img class="responsive-img card-panel usr-img" src="{{photo.url}}"> {% empty %}
        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
        {% if notempty %}
        <br> {% else %}
        <form action="{% url 'add_photo' joshi.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <input type="submit" class="btn blue-grey" value="Upload Photo">
        </form>
        {% endif %} {% endfor %} {% if joshi.user == request.user %}
        <form action="{% url 'add_booking' joshi.id %}" method="post">
            {% csrf_token %} {{ booking_form.as_p }}
            <input type="submit" class="btn blue-grey" value="Add Booking">
        </form>
        {% endif %}
    </div>
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ joshi.name }}</span>
                <p><span class="teal-text">Promotion:</span> {{ joshi.promotion }}</p>
                <p><span class="teal-text">Style:</span> {{ joshi.style }}</p>
                <p><span class="teal-text">Nickname:</span> {{ joshi.nickname }}</p>
                <p><span class="teal-text">Finisher:</span> {{ joshi.finisher }}</p>
                {% if joshi.age > 29 %}
                <p><span class="teal-text">Age:</span> Unknown</p>
                {% else %}
                <p><span class="teal-text">Age:</span> {{ joshi.age }}</p>
                {% endif %}
                <p><span class="teal-text">It Factor:</span> {{ joshi.itfactor }}</p>
                <p><span class="teal-text">Technique:</span> {{ joshi.technique }}</p>
                <p><span class="teal-text">Power:</span> {{ joshi.power }}</p>
                <p><span class="teal-text">Speed:</span> {{ joshi.speed }}</p>
                <p><span class="teal-text">Striking:</span> {{ joshi.striking }}</p>
                <p><span class="teal-text">Aerial:</span> {{ joshi.aerial }}</p>
                <p><span class="teal-text">Overall:</span> {{ joshi.overall }}</p>
            </div>
            {% if joshi.user == request.user %}
            <div class="card-action indigo accent-1">
                <a class="cyan-text text-darken-4" href="{% url 'joshis_update' joshi.id %}">Edit</a>
                <a class="cyan-text text-darken-4" href="{% url 'joshis_delete' joshi.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <br> {% if joshi.booked_for_today %}
        <div class="card-panel teal-text center-align booking">{{joshi.name}} has been booked solidly for today</div>
        {% else %}
        <div class="card-panel deep-orange-text text-accent-3 center-align booking">{{joshi.name}} might be feeling underutilized</div>
        {% endif %}

        <table class="responsive-table striped highlight centered">
            <thead>
                <tr>
                    <th class="teal-text">Date</th>
                    <th class="teal-text">Booking</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in joshi.booking_set.all %}
                <tr>
                    <td>{{booking.date}}</td>
                    <td>{{booking.get_booking_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
<hr>
<div class="row">
    <div class="col s6">
        <h3>{{ joshi.name }}'s Items</h3>
        {% if joshi.items.count %} {% for item in joshi.items.all|dictsort:"name" %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
               <span class="teal-text">{{ item.type }}</span>: {{ item.name }}
                </span>
            </div>
            {% if joshi.user == request.user %}
            <div class="card-action">
                <form action="{% url 'unassoc_item' joshi.id item.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn blue-grey">Remove</button>
                </form>
            </div>
            {% endif %}
        </div>
        {% endfor %} {% else %}
        <h5>No Items :(</h5>
        {% endif %}
    </div>
    <!-- Available items will come after this line -->
    <div class="col s6">
        <h3>Available Items</h3>
        {% if items.count %} {% for item in items.all|dictsort:"name" %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
               <span class="teal-text">{{ item.type }}</span>: {{ item.name }}
                </span>
            </div>
            {% if joshi.user == request.user %}
            <div class="card-action">
                <form action="{% url 'assoc_item' joshi.id item.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn blue-grey">Add</button>
                </form>
            </div>
            {% endif %}
        </div>
        {% endfor %} {% else %}
        <h5>{{joshi.name}} Already Has All Items Available</h5>
        {% endif %}
    </div>
</div>

<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    // add additional JS to initialize select below
    var selectEl = document.getElementById('id_booking');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}