{% extends 'base.html' %} {% load static %} {% block content %}
<div class="page-header">
    <img class="form-icon" src="{% static 'images/formicon.png' %}" alt="Joshi List" />

    <h1 class="home-title">{{user}}'s Joshis</h1>
</div>
{% for joshi in joshis|dictsort:"name" %}
<div class="card pink accent-2">
    <a class="deep-purple-text text-lighten-5" href="{% url 'detail' joshi.id %}">
        <div class="card-content">
            <span class="card-title">{{ joshi.name }}</span>
            <p>Promotion: {{ joshi.promotion }}</p>
            <p>Style: {{ joshi.style }}</p>
            <p>Nickname: {{ joshi.nickname }}</p>
            <p>Finisher: {{ joshi.finisher }}</p>
            {% if joshi.age > 29 %}
            <p>Age: Unknown</p>
            {% else %}
            <p>Age: {{ joshi.age }}</p>
            {% endif %}
            <p>Overall: {{ joshi.overall }}</p>
        </div>
    </a>
</div>
{% endfor %} {% endblock %}